.env

# Hardhat files
/cache
/artifacts
/contracts/EVOXFactoryContract.sol
/contracts/EVOXProperty.sol
/contracts/EVOXStaking.sol
/contracts/EVOXSubgraphData.sol
/contracts/EVOXToken.sol
/contracts/USDTToken.sol

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

node_modules
